

marquee{
   background-color: black;
   color: blanchedalmond;
}
#head{
   color: darkmagenta;
   text-align: center;
   background-color: salmon;
}
nav{
   background-color: dimgray;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.nav{
   color: gold;
   margin-left: auto;
   margin-right: auto;
   font-size: large;
   
}
#logo{
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
#mypic{
   width: 500px;
   height: 500px;
   border-radius: 250px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.pbod{
   background-color: #ADC8DF;
}
span{
   font-size: xx-large;
   font-family: 'Courier New', Courier, monospace;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}
body{
   background-color: sandybrown;
   background-image: url(http://www.incomeactivator.com/images/freebg5.jpg);
}